In [1]:
a="Welcome to String"

In [2]:
#task 2
a ="Welcome to String" 
b = "to"
if(b in a):
  print ("Substring is present")
else:
  print ("Substring is not present")

Substring is present

In [3]:
#Task-3.1
#remove()
a = [1,2,3,4,"hi"]
a.remove(2)
print(a)

[1, 3, 4, 'hi']

In [4]:
#count()
x=[5,6,7,8,9,"hello",6]
a = x.count(6)
a

2

In [5]:
#clear()
b = [10,1,2,2,5,8,80]
b.clear()
b

[]

In [6]:
#sort()
b = [10,1,2,2,5,8,80]
b.sort()
b

[1, 2, 2, 5, 8, 10, 80]

In [7]:
#reverse()
b = [10,1,2,2,5,8,80]
b.reverse()
b

[80, 8, 5, 2, 2, 1, 10]

In [8]:
#TASK 3.2
# create a list of lenght = 10 and access 5th to 8th data.
x = [1,2,3,4,5,6,7,"hi","hello", 10]
print(x[5:8])

[6, 7, 'hi']

In [9]:
#TASK 4
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2].insert(2, 70)
l1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [10]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2[2].insert(4,[7,8])
l2

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [11]:
#TASK 5

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"]

'Mike'

In [12]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [13]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["name"] = "mounika"
x= dict1
x

{'april_batch': {'student': {'name': 'mounika',
   'marks': {'python': 80, 'maths': 70}}}}

In [14]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1

{'april_batch': {'student': {'name': 'mounika',
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [15]:
dict1["april_batch"]["student"]["marks"]["DL"] = 80
dict1

{'april_batch': {'student': {'name': 'mounika',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}